<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 1*

# 📝 Assignment
---
# Choose your ML problems

이번 스프린트에서는 포트폴리오 프로젝트를 위해 수강생 각자가 정한 데이터셋을 사용하여 과제를 수행합니다. 프로젝트를 위한 데이터를 최종 선택하기 전에 여러 가능한 데이터세트를 살펴보고 간단한 모델까지 학습해 보는 것을 추천드립니다.

### 1) 타겟으로 사용할 특성을 선택합니다.
**(Urclass Quiz)** 여러분들이 프로젝트에 사용할 데이터셋과 타겟특성에 대해 아래의 내용을 포함하여 간략하게 설명해주세요. 
* `df.dtypes`을 사용해서 타겟특성의 데이터 타입 확인
* `df.describe()`를 사용해서 타겟특성의 대표값 확인(실수-평균, 범주형-최빈값)

In [1]:
### 이곳에서 과제를 진행해 주세요 ### 
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [6]:
bus = pd.read_csv('/content/drive/MyDrive/codestates/Section2/project/2022_1_bus.csv',encoding = 'cp949')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [7]:
bus.head()

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,19시하차총승객수,20시승차총승객수,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자
0,202201,741,741번(진관차고지~헌인릉입구),100000001,1001,종로2가사거리,27,69,14,40,...,313,308,175,284,153,230,105,77,51,20220203
1,202201,N37,N37번(진관공영차고지~송파공영차고지),100000001,1001,종로2가사거리,0,0,0,0,...,0,0,0,0,0,0,0,0,0,20220203
2,202201,470,470번(상암차고지~안골마을),100000001,1001,종로2가사거리,10,49,0,0,...,258,304,201,358,253,137,107,72,64,20220203
3,202201,N37,N37번(송파공영차고지~진관공영차고지),100000001,1001,종로2가사거리,0,5,31,89,...,0,0,0,0,0,0,0,0,0,20220203
4,202201,100,100번(하계동~용산구청),100000002,1002,창경궁.서울대학교병원,0,0,0,0,...,24,32,18,42,44,28,14,14,1,20220203

In [15]:
bus.shape

(39159, 55)

In [23]:
bus['n_ride'] = bus.iloc[:,[6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52]].sum(axis=1)
bus['n_quit'] = bus.iloc[:,[7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53]].sum(axis=1)

In [24]:
bus.shape

(39159, 57)

In [25]:
bus.head()

,사용년월,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,00시승차총승객수,00시하차총승객수,1시승차총승객수,1시하차총승객수,...,20시하차총승객수,21시승차총승객수,21시하차총승객수,22시승차총승객수,22시하차총승객수,23시승차총승객수,23시하차총승객수,등록일자,n_ride,n_quit
0,202201,741,741번(진관차고지~헌인릉입구),100000001,1001,종로2가사거리,27,69,14,40,...,175,284,153,230,105,77,51,20220203,5318,5046
1,202201,N37,N37번(진관공영차고지~송파공영차고지),100000001,1001,종로2가사거리,0,0,0,0,...,0,0,0,0,0,0,0,20220203,107,189
2,202201,470,470번(상암차고지~안골마을),100000001,1001,종로2가사거리,10,49,0,0,...,201,358,253,137,107,72,64,20220203,6421,5295
3,202201,N37,N37번(송파공영차고지~진관공영차고지),100000001,1001,종로2가사거리,0,5,31,89,...,0,0,0,0,0,0,0,20220203,43,143
4,202201,100,100번(하계동~용산구청),100000002,1002,창경궁.서울대학교병원,0,0,0,0,...,18,42,44,28,14,14,1,20220203,2189,3344

In [26]:
bus.dtypes

사용년월           int64
노선번호          object
노선명           object
표준버스정류장ID      int64
버스정류장ARS번호    object
역명            object
00시승차총승객수      int64
00시하차총승객수      int64
1시승차총승객수       int64
1시하차총승객수       int64
2시승차총승객수       int64
2시하차총승객수       int64
3시승차총승객수       int64
3시하차총승객수       int64
4시승차총승객수       int64
4시하차총승객수       int64
5시승차총승객수       int64
5시하차총승객수       int64
6시승차총승객수       int64
6시하차총승객수       int64
7시승차총승객수       int64
7시하차총승객수       int64
8시승차총승객수       int64
8시하차총승객수       int64
9시승차총승객수       int64
9시하차총승객수       int64
10시승차총승객수      int64
10시하차총승객수      int64
11시승차총승객수      int64
11시하차총승객수      int64
12시승차총승객수      int64
12시하차총승객수      int64
13시승차총승객수      int64
13시하차총승객수      int64
14시승차총승객수      int64
14시하차총승객수      int64
15시승차총승객수      int64
15시하차총승객수      int64
16시승차총승객수      int64
16시하차총승객수      int64
17시승차총승객수      int64
17시하차총승객수      int64
18시승차총승객수      int64
18시하차총승객수      int64
19시승차총승객수      int64
19시하차총승객수      int64
20시승차총승객수      int64
20시하차총승객수      int64
21시승차총승객수      int64
21시하차총승객수      int64
22시승차총승객수      int64
22시하차총승객수      int64
23시승차총승객수      int64
23시하차총승객수      int64
등록일자           int64
n_ride         int64
n_quit         int64
dtype: object

In [9]:
bus.describe

<bound method NDFrame.describe of          사용년월  노선번호                    노선명  표준버스정류장ID 버스정류장ARS번호  \
0      202201   741      741번(진관차고지~헌인릉입구)  100000001       1001
1      202201   N37  N37번(진관공영차고지~송파공영차고지)  100000001       1001
2      202201   470       470번(상암차고지~안골마을)  100000001       1001
3      202201   N37  N37번(송파공영차고지~진관공영차고지)  100000001       1001
4      202201   100         100번(하계동~용산구청)  100000002       1002
...       ...   ...                    ...        ...        ...
39154  202201  6648         6648(방화동~양천구청)  999800002          ~
39155  202201  9404        9404번(분당구미~신사역)  999800003          ~
39156  202201  9404        9404번(분당구미~신사역)  999800004          ~
39157  202201  9701         9701번(가좌동~서울역)  999800005          ~
39158  202201  9707     9707번(고양 가좌동~영등포역)  999800005          ~

                 역명  00시승차총승객수  00시하차총승객수  1시승차총승객수  1시하차총승객수  ...  19시하차총승객수  \
0           종로2가사거리         27         69        14        40  ...        313
1           종로2가사거리          0          0         0         0  ...          0
2           종로2가사거리         10         49         0         0  ...        258
3           종로2가사거리          0          5        31        89  ...          0
4       창경궁.서울대학교병원          0          0         0         0  ...         24
...             ...        ...        ...       ...       ...  ...        ...
39154    김포교통(종점가상)          0          0         0         0  ...          0
39155  구미동차고지(기점가상)          0          0         0         0  ...          1
39156  구미동차고지(종점가상)          0          1         0         3  ...          3
39157   가좌동종점(종점가상)          0          2         0         0  ...          0
39158   가좌동종점(종점가상)          0          2         0         3  ...          2

       20시승차총승객수  20시하차총승객수  21시승차총승객수  21시하차총승객수  22시승차총승객수  22시하차총승객수  \
0            308        175        284        153        230        105
1              0          0          0          0          0          0
2            304        201        358        253        137        107
3              0          0          0          0          0          0
4             32         18         42         44         28         14
...          ...        ...        ...        ...        ...        ...
39154          0          1          0          0          0          2
39155          3          3          1          6          0         11
39156          0          3          0          8          0         10
39157          0          1          0          1          0          3
39158          0          7          0          2          0          4

       23시승차총승객수  23시하차총승객수      등록일자
0             77         51  20220203
1              0          0  20220203
2             72         64  20220203
3              0          0  20220203
4             14          1  20220203
...          ...        ...       ...
39154          0          0  20220203
39155          0          0  20220203
39156          0          3  20220203
39157          0          1  20220203
39158          0          3  20220203

[39159 rows x 55 columns]>

In [27]:
bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39159 entries, 0 to 39158
Data columns (total 57 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사용년월        39159 non-null  int64
 1   노선번호        39159 non-null  object
 2   노선명         39159 non-null  object
 3   표준버스정류장ID   39159 non-null  int64
 4   버스정류장ARS번호  39159 non-null  object
 5   역명          39159 non-null  object
 6   00시승차총승객수   39159 non-null  int64
 7   00시하차총승객수   39159 non-null  int64
 8   1시승차총승객수    39159 non-null  int64
 9   1시하차총승객수    39159 non-null  int64
 10  2시승차총승객수    39159 non-null  int64
 11  2시하차총승객수    39159 non-null  int64
 12  3시승차총승객수    39159 non-null  int64
 13  3시하차총승객수    39159 non-null  int64
 14  4시승차총승객수    39159 non-null  int64
 15  4시하차총승객수    39159 non-null  int64
 16  5시승차총승객수    39159 non-null  int64
 17  5시하차총승객수    39159 non-null  int64
 18  6시승차총승객수    39159 non-null  int64
 19  6시하차총승객수    39159 non-null  int64
 20  7시승차총승객수    39159 non-null  int64
 21  7시하차총승객수    39159 non-null  int64
 22  8시승차총승객수    39159 non-null  int64
 23  8시하차총승객수    39159 non-null  int64
 24  9시승차총승객수    39159 non-null  int64
 25  9시하차총승객수    39159 non-null  int64
 26  10시승차총승객수   39159 non-null  int64
 27  10시하차총승객수   39159 non-null  int64
 28  11시승차총승객수   39159 non-null  int64
 29  11시하차총승객수   39159 non-null  int64
 30  12시승차총승객수   39159 non-null  int64
 31  12시하차총승객수   39159 non-null  int64
 32  13시승차총승객수   39159 non-null  int64
 33  13시하차총승객수   39159 non-null  int64
 34  14시승차총승객수   39159 non-null  int64
 35  14시하차총승객수   39159 non-null  int64
 36  15시승차총승객수   39159 non-null  int64
 37  15시하차총승객수   39159 non-null  int64
 38  16시승차총승객수   39159 non-null  int64
 39  16시하차총승객수   39159 non-null  int64
 40  17시승차총승객수   39159 non-null  int64
 41  17시하차총승객수   39159 non-null  int64
 42  18시승차총승객수   39159 non-null  int64
 43  18시하차총승객수   39159 non-null  int64
 44  19시승차총승객수   39159 non-null  int64
 45  19시하차총승객수   39159 non-null  int64
 46  20시승차총승객수   39159 non-null  int64
 47  20시하차총승객수   39159 non-null  int64
 48  21시승차총승객수   39159 non-null  int64
 49  21시하차총승객수   39159 non-null  int64
 50  22시승차총승객수   39159 non-null  int64
 51  22시하차총승객수   39159 non-null  int64
 52  23시승차총승객수   39159 non-null  int64
 53  23시하차총승객수   39159 non-null  int64
 54  등록일자        39159 non-null  int64
 55  n_ride      39159 non-null  int64
 56  n_quit      39159 non-null  int64
dtypes: int64(53), object(4)
memory usage: 17.0+ MB

### 2) 풀고자 하는 문제가 분류/회귀 문제인지 정합니다.
**(Urclass Quiz)** 다이아몬드를 보관하기 위해 금고를 만들었습니다. 금고가 너무 작아서 가격이 상위 25%인 것만 보관하려고 합니다. 이를 위해 'price' 특성을 이용해 금고에 보관할 다이아몬드와 그렇지 않은 것으로 분류하는 이진분류 컬럼을 만들어 타겟 특성으로 사용할 것입니다. 타겟 특성의 최빈값의 빈도수를 적어주세요.
- 'top25'라는 새로운 타겟변수(컬럼)를 만들어주세요.
- 상위 25% 이상 True, 상위 25% 미만 False

In [41]:
### 이곳에서 과제를 진행해 주세요 ### 
import seaborn as sns
diamonds = sns.load_dataset('diamonds')

In [42]:
diamonds['top25'] = np.where(diamonds['price'] >= 5324.25, True, False) 
diamonds.head(3)

   carat      cut color clarity  depth  table  price     x     y     z  top25
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43  False
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31  False
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31  False

In [43]:
diamonds['top25'].value_counts()

False    40455
True     13485
Name: top25, dtype: int64

### 3) 타겟의 분포를 분석하고 사용할 평가지표를 선택합니다. 평가지표를 선택한 이유를 설명하세요.
- 분류: 클래스가 몇 개인지? 클래스 비율이 어떤지(balance or imbalance)
- 회귀: 타겟 분포가 right-skewed 인지? log-transform을 사용할 것인지?
- 분류: 다수 클래스(majority class) 비율이 50%~70% 인 경우 정확도(accuracy)만 사용해도 무방합니다. 하지만 범위를 넘어설 경우 정확도만을 사용해서는 모델을 잘못 이해할 수 있습니다. 어떤 평가지표를 사용해야 할까요?
- 회귀: MAE, RMSE, R^2 등을 사용할 수 있습니다.

---


**(Urclass Quiz)** 여러분들이 프로젝트에 사용할 데이터의 기준모델과 사용할 평가지표를 제출해주세요.

In [34]:
### 이곳에서 과제를 진행해 주세요 ### 
bus['노선명'].value_counts(normalize=True)

N61번(상계동차고지~양천공영차고지)       0.004775
N61번(양천공영차고지~상계동차고지)       0.004775
N62번(면목동차고지~양천공영차고지)       0.004214
N62번(양천공영차고지~면목동차고지)       0.004163
774번(구파발역~파주읍)             0.004163
                             ...
8441번(은곡마을.LH이편한세상~수서역)    0.000230
8761번(광흥창역~국회의사당역)         0.000230
N876번(은평공영차고지~영등포역)        0.000179
동대문01(회기역~경희대)             0.000153
N840번(남태령역~이태원)            0.000077
Name: 노선명, Length: 636, dtype: float64

In [35]:
print(
    "버스정류장 역별 시간대 승하차 정보만 가지고는 문제해결의 정보가 불충분하다.\n"
    "서울특별시 주민등록 인구, 지역별 직장인구, 지역별 유동인구, 업종 점포 정보를 추가 후,\n"
    "버스 노선 개선이 필요한 구간을 제안하고자 한다."
    "변수간의 상관관계를 확인하며 버스 노선 개선에 필요한 주요 정보가 어떤 변수인지 확인해야한다.\n"
    "회귀방법을 선택할 것이며, 평가지표는 R2 score와 RMSE을 사용할 것이다."
)

버스정류장 역별 시간대 승하차 정보만 가지고는 문제해결의 정보가 불충분하다.
서울특별시 주민등록 인구, 지역별 직장인구, 지역별 유동인구, 업종 점포 정보를 추가 후,
버스 노선 개선이 필요한 구간을 제안하고자 한다.변수간의 상관관계를 확인하며 버스 노선 개선에 필요한 주요 정보가 어떤 변수인지 확인해야한다.
회귀방법을 선택할 것이며, 평가지표는 R2 score와 RMSE을 사용할 것이다.

## 🔥 도전과제(Github - Discussion)

### 4) 실무에서 데이터분석가/데이터엔지니어/데이터사이언티스트에게 중요한 역량이 무엇이라고 생각하며, 어떤 어려움을 겪게 될 것 같은지와 어떤 능력이 필요할 지 논의해 보세요. 또한, 섹션2 프로젝트에 앞서 본인이 얻고자 하는 점이나 다짐 등을 서로 공유해 보세요.

In [ ]:
### 이곳에서 과제를 진행해 주세요 ###